<%= form_for(@carrier) do |f| %>
  <% if @carrier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrier.errors.count, "error") %> prohibited this carrier from being saved:</h2>

      <ul>
      <% @carrier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :annocument_date %><br>
    <%= f.datetime_select :annocument_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
