<div style="width:900px" class="container">
<h1>Üyeleri Listele</h1>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Kullanıcı Adı</th>
      <th>E Posta</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.username %></td>
        <td><%= author.email %></td>

        <td><%= link_to 'Göster', author %></td>
        <td><%= link_to 'Düzenle', edit_author_path(author) %></td>
        <td><%= link_to 'Sil', author, method: :delete, data: { confirm: 'Silmek istediğinize emin misiniz?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Üye', new_author_path %>
 </div>