<form class="form-signin" method="post"  action="/authors" >
<p id="notice"><%= notice %></p>

<p>
  <strong>Kullanıcı Adı:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>E Posta:</strong>
  <%= @author.email %>
</p>



<%= link_to 'Düzenle', edit_author_path(@author) %> |
<%= link_to 'Geri', authors_path %>
</form>