<form class="form-signin" method="post" action="/activities">
<p id="notice"><%= notice %></p>

<p>
  <strong>Başlık:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Tarih:</strong>
  <%= @activity.adate %>
</p>
<% if logged_in? %>

<% end %>
<p>
  <strong>İçerik:</strong>
  <%= @activity.content %>
</p>

<%= link_to 'Düzenle', edit_activity_path(@activity) %> | &nbsp;
<%= link_to 'Geri', activities_path %>
</form>