<!DOCTYPE html>
<html>
<head>
  <title>Gediz Bytk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<p class="flash">
  <%= flash.notice %>
</p>
<div id="container">
  <div id="content">
    <%= yield %>
    <hr>
    <h6>
      <% if logged_in? %>
          <%= " #{current_user.email} olarak oturum açıldı." %>
          <%= link_to "(Çıkış)", logout_path %>
      <% else %>
          <%= link_to "(Giriş Yap)", login_path %>

      <% end %>
    </h6>
  </div>
</div>


</body>
</html>
