<!DOCTYPE html>
<html>
<head>
  <title>Gediz Bytk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<p class="flash">
  <%= flash.notice %>
</p>
<div id="container">
  <div id="content">
    <%= yield %>

    <footer class="container" style="box-shadow: 0px 0px 5px #dddddd; background-color: #cccccc; padding-top: 10px; padding-bottom: 5px; border-top:none; border-bottom:2px dotted #efefef;">

      <ul class="list-inline" style="float:left;">
        <li class="active"><a href="http://localhost:3000/">Anasayfa</a></li>
        <li><a href="#">Etkinliklerimiz</a></li>
        <li><a href="http://localhost:3000/gallery">Galeri</a></li>
        <li><a href="http://localhost:3000/carriers">Kariyer</a></li>
        <li><a href="http://localhost:3000/blog">Blog</a></li>
        <li><a href="/contact">İletişim</a></li>
        <li><a href="http://localhost:3000/presses">Basında Gediz</a></li>
      </ul>

    <h6 style="float:right;">
      <% if logged_in? %>
          <%= " #{current_user.email} olarak oturum açıldı." %>
          <%= link_to "(Çıkış)", logout_path %>
      <% else %>
          <%= link_to "(Giriş Yap)", login_path %>

      <% end %>
    </h6>
    </footer>
  </div>
</div>


</body>
</html>
